doctype html

html
  head
    title!='simple nodejs'
    meta(charset='utf-8')
  body
    div.header
      h1!='Welcome Simple Nodejs Web Site!'

    div.container
      p!='This is simple nodejs web site. made by pug'
